@using MvcStok.Models.Entity;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index","Urun",FormMethod.Get))
            {
                <p>
                    <b> Aranacak Kelimeyi Girin</b> @Html.TextBox("kelime")
                    <input type="submit" class="btn btn-warning" value="ara" />
                </p>
            }

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>URUN ID</th>
            <th>URUN ADI</th>
            <th>MARKASI</th>
            <th>KATEGORI</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <th>@urun.URUNID</th>
                <td>@urun.URUNAD</td>
                <td>@urun.MARKA</td>
                <td>@urun.TBLKATEGORILER.KATEGORIAD</td>
                <td>@urun.URUNFIYAT</td>
                <td>@urun.STOK</td>
                @*<td><a href="/Urun/Sil/@urun.URUNID" class="btn btn-danger">SİL</a></td>*@
                <td>@Html.ActionLink("SİL", "Sil", new { id = urun.URUNID }, new { @class = "btn btn-danger", @onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
                <td><a href="/Urun/UrunGetir/@urun.URUNID" class="btn btn-primary">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Urun/UrunEkle/" class="btn btn-success">YENİ ÜRÜN EKLE</a>
