@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Güncelleme</h2>


@using (Html.BeginForm("Guncelle","Urun",FormMethod.Post))
            {
<div class="form-group">
    <label>URUN ID</label>
    @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control", @readonly = true })
    <br />
    <label>URUN ADI</label>
    @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
    <br />
    <label>MARKA</label>
    @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
    <br />
    <label>KATEGORİ</label>
    @*@Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })*@
    @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    <label>FİYAT</label>
    @Html.TextBoxFor(m => m.URUNFIYAT, new { @class = "form-control" })
    <br />
    <label>STOK</label>
    @Html.TextBoxFor(m => m.STOK, new { @class = "form-control"})
    <br />
</div>
<div>
    <button class="btn btn-warning">GÜNCELLE</button>
</div>
            }